html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/fundo_cadastro.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    display: flex;
    height: 550px;
    width: 1020px;
    background-color: #052E4E;
    border-radius: 15px;
}

.registreSe {
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.imgPolvo {
    width: 250px;
    height: 450px;
    left: 0;
    bottom: 0;
}

.imgRegistreSe {
    width: 250px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

.dados {
    width: 60%;
    background-color: #2C2C2C;
    color: #8CFF00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 450px;
    height: 50px;
    margin-top: 0;
    border-radius: 10px;
    background-image: url('../assets/ondas5.png');
    background-repeat: repeat-x;
    background-position: bottom;
    color: #8813B5;
    font-size: 18px !important;
}