/* RESET BODY */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* PALETA DE CORES */
:root {
    --cinza: #2C2C2C;
    --azul: #052E4E;
    --verde: #8CFF00;
    --roxo: #8C12B8;
    --roxoEscuro: #700F92;
}

.menu {
    width: 100%;
    height: 100px;
    background-color: #8CFF00;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.nomeLoja {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Cinzel Decorative';
    margin: 0;
    color: black;
    width: 220px;
}

#lojaAtual {
    display: inline-block;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.logo img {
    height: 130px;
    width: 130px;
    background-color: #2C2C2C;
    border: #8CFF00 3px solid;
    box-shadow: 0 0 0 4px #2C2C2C;
    border-radius: 50%;
    position: relative;
}

/* NAVBAR AZUL */
.navbar {
    background-color: #052E4E !important;
    height: 80px;
    width: 100%;
    color: white !important;
}

/* TEXTO NOME NA NAVBAR */
.navbar-brand {
    background: linear-gradient(90deg, #FFB65C, #E87A1A);
    font-family: cinzel decorative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    font-size: 28px;
}

/* BOTÃO PESQUISAR */
.btn {
    color: white !important;
}

/* JOGOS DO MENU */
.containerJogos {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.itemNavbar {
    max-height: 85px;
    max-width: 85px;
}

.botaoLoja {
    background-color: transparent;
    padding: 3px;
    border: none;
}

.botaoLoja :hover{
    transform: scale(1.2);
    border: solid 2px var(--cinza);
}

/* PRECISO CONSERTAR O CSS DO BOTÕES DAS LOJAS... */

/* ÁREA PRINCIPAL */
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    padding-top: 25px;
    width: 100%;
    height: calc(100vh - 180px); /* 100px menu + 80px navbar */
    color: white;
    background-image: url(../assets/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.filtros {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.btn-contrato {
    background: #5d3e1a;
    color: #fce7c8;
    padding: 10px 20px;
    border: 2px solid #3a2712;
    border-radius: 6px;
    font-family: "Cinzel", serif;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-contrato:hover {
    background: #7b5327;
}

.contrato-container {
    background: url('../assets/contrato.png');
    background-size: cover;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    font-family: "IM Fell English", serif;
    color: #2b1b0f;
    animation: contrato-abrir 0.3s ease-out;
}

/* Efeito de abrir com suavidade */
@keyframes contrato-abrir {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Input estilo contrato */
.contrato-input {
    background: rgba(255, 250, 240, 0.8);
    border: 2px solid #3b2a18;
    color: #3b2a18;
    font-family: "IM Fell English", serif;
}

.contrato-container h2 {
    font-family: "Cinzel", serif;
    margin-bottom: 10px;
}

.jogos {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center ;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
}

/* CARD */
.meuCard {
    background: url("../assets/contrato.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #3a1a00;
    border-radius: 10px;
    box-shadow: 0 0 15px #0005;
    position: relative;
    transition: 0.2s ease;
    max-width: 14rem;
    max-height: 500px;
    perspective: 1000px;
}

.meuCard:hover {
    transform: scale(1.03);
}

/* IMAGEM DO JOGO */
.cardImg {
    border-radius: 8px 8px 0 0;
}

/* TÍTULO DO JOGO */
.cardTitle {
    font-family: "Cinzel", serif;
    color: #2c1600;
    text-shadow: 0 0 2px #0003;
}

/* PREÇOS */
.precos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.precoAntigo {
    text-decoration: line-through;
    color: #7a5a44;
}

.novoPreco {
    font-weight: bold;
    color: #c91f7e;
    font-size: 1.2rem;
}

/* TAG DA LOJA */
.tagLoja {
    display: inline-block;
    margin-bottom: 12px;
    padding: 4px 10px;
    font-size: 0.8rem;
    border-radius: 4px;
    color: #fff;
}

.steam {
    background: #0a47a8;
}

.epic {
    background: #444;
}

/* BOTÃO */
.accept-btn {
    background: #6d1bb3;
    border: none;
}

.accept-btn:hover {
    background: #8d26e9;
}

/* SELO DO POLVO */
.selo {
    position: absolute;
    bottom: 140px;
    right: 2px;
    width: 60px;
    opacity: 0.3;
    pointer-events: none;
    transform: rotate(-10deg);
}

.selecionado {
    outline: 2px dashed rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.arrastando {
    transform: scale(1.03);
    opacity: 0.9;
}